@model IEnumerable<NotesApp.Models.UserModel>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-2">Welcome</h1>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Password</th>
            <th>Email</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayTextFor(modelItem => item.username)</td>
                <td>@Html.DisplayTextFor(modelItem => item.password)</td>
                <td>@Html.DisplayTextFor(modelItem => item.email)</td>
            </tr>
        }
    </table>
</div>